<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>New Order</title>
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/form.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  </head>
  <body>
    <!----- HEADER ----->
    <%- include('partials/header'); %>
    <!------CONTENT ------>
    <div class="container">
        <form method = "post" action="/placeorder/<%= oID %>">              
              <label for="weight">Weight:</label><br>
              <input type="text" id="weight" name="weight" required><br>
              <label for="dtype">Delivery type:</label><br>
                <select name="dtype" id="dtype">
                    <option value="NRD">No Rush Delivery</option> 
                    <option value="INT">International</option>
                    <option value="SDD">Same Day Delivery</option>
                    <option value="ODD">On Demand Delivery</option>
                    <option value="FRG">HWC (fragile items)</option>
                </select>
                <br>
                
              <label for="destination">Destination:</label><br>
              <textarea id="destination" name="destination" rows="10" cols="50"></textarea><br>
            
              <label for="pincode">Pincode:</label><br>
              <input type="text" id="pincode" name="pincode"  required><br>

             <input type="submit" value="Place Order">
              <br>
            </form> 
        </div>
    <!----- FOOTER----->
    <%- include('partials/footer'); %>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
  </body>
</html>